ROOT_PATH=../../
ROOT_CODES_PATH=./../codes/
PORT=8000
CONTAINER_PORT=5000

BACKEND_SERVICE_BUILD_MODE=dev
COMPOSE_PROJECT_NAME=task-management-nest
BACKEND_SERVICE_VOLUME_DIR_NAME=task-management
POSTGRES_IMAGE_TAG_VERSION=14
DB_POSTGRES_PORT=5432
POSTGRES_PASSWORD=root123
POSTGRES_DB=db
POSTGRES_USER=root
DB_ADMINER_PORT=9087